apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-stack
  namespace: argocd
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: prometheus-stack
  sources:
    - path: 'kube-prometheus-stack-79.1.1'
      repoURL: 'https://github.com/cod3mas0n/hetz-cluster.git'
      targetRevision: main
      helm:
        releaseName: prometheus-stack
        valueFiles:
          - values.yaml

  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - CreateNamespace=true
    retry:
      limit: 2
      backoff:
        duration: 5s
        maxDuration: 3m0s
        factor: 2
